# Node
**/node_modules/

# Python virtual environments
**/.venv/
venv/
.venv/

# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc

# Build
dist/
build/

# React Native
android/app/build/
ios/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db